/* Navbar buttons*/
/*Base*/
.navbar-button {
    padding: 0.5em 1em;
}

/* Button scheme*/
.navbar-button__login {
    @include white-button;
}

.navbar-button__signup {
    &:hover {
        background-color: $middle-blue;
    }
    
    &:focus {
        background-color: $gray;
    }
}

.navbar-button__signup, .card-button {
    @include ballBlue-button;
}

.card-button {
    width: 100%;
    padding: 0.6em;
}