/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.features {
    padding-top: 3em;
    padding-bottom: 6em;

    h2 {
        font-weight: $bold;
        margin-bottom: 2em;
        display: block;
        text-align: center;
    }
}

.features-wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
}

.features__graph {
    display: inline-block;
    margin-bottom: 2em;
}

.features__text {
    display: inline-block;
    padding: 0 1em;

    h5 {
        font-weight: $bold;
    }
}

@media screen and (min-width: 768px) {

    .features__graph {
        width: 30%;
        margin-right: 4em;
    }

    .features__text {
        width: 43%;
    }
}

/* Animación del gráfico*/

@-webkit-keyframes opacar {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 0.8;}
}

@keyframes opacar {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

.features__graph-img {
    -webkit-animation-name: opacar;
            animation-name: opacar;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
}