.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr;
}

.header__div-text {
    grid-column:1/2;
    grid-row: 1/2;
}

.header__div-img {
    grid-column:1/2;
    grid-row: 2/3;
}

@media screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .header__div-text {
        grid-column:1/1;
        grid-row: 1/1;
    }    
}

@media screen and (min-width: 1200px){

    .header {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

        .header__div-text {
            grid-column:1/1;
            grid-row: 1/1;
        }

         .header__div-img {
            grid-column:1/1;
            grid-row: 1/1;
        }

    }
}