.header__div-text {
    padding: 3em;

    h1 {
        font-weight: $bold;
    }
}

.header__div-img {
    img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .header__div-text {
        padding-top: 6em;
    }    
}

@media screen and (min-width: 992px) {
    .header__div-text {
        padding-top: 8em;
        width: 45%;
        margin-left: 3em;
    }
}

@media screen and (min-width: 1200px) {
    .header__div-text {
        padding-top: 4em;
        margin-left: 10em;
        width: 30%;
    }
}